/* select everything */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: #fff;
    /* line-height: 1.6; */
    /* View port height */
    height: 100vh;
    overflow: hidden;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 2pxpx solid white;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
    position: relative;
    top: 1rem;
    transition-duration: 0.4s;
    outline: none;
    padding: 5px;
}

button:hover {
    opacity: 0.7;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS smooth scroll */
    overflow-y: scroll;
    /* Add vertical scroll bar. */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.links {
    margin-top: 1rem;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7)
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    /* 0 for top and bottom, 1rem for left and right. */
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    /* Remove underline. */
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

.projects {

}

.project {
    display: flex;
}

.projectIcon {
    border-radius: 50%;
    animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.61);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.description {
    margin-left: 1rem;
}

.description p{
    position: relative;
    top: 30%
}

section {
    display: flex;
    flex-direction: column;
    /* Both horizontal and vertical to center. */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section #name {
    color: rgb(0, 0, 0);
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* Section Images */
section#home {
    background: url('img/4k-wallpaper-clouds-dawn-1261728.jpg') no-repeat center center/cover;
}

section#about {
    background: url('img/cold-desktop-backgrounds-fog-1287367.jpg') no-repeat center center/cover;
}

section#projects {
    background: url('img/cc0-desktop-backgrounds-fog-7919.jpg') no-repeat center center/cover;
}

section#contact {
    background: url('img/backlit-chiemsee-dawn-1363876.jpg') no-repeat center center/cover;
}